<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>딜리버러 개인정보 취급방침</title>
</head>

<body>
    <h2>개인정보 취급방침</h2>
    <p>주식회사 딜리버러는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법, 통신비밀보호법, 전기통신사업법 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며,
        관련 법령에
        의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하겠습니다.</p>

    <h3>개인정보의 수집</h3>
    <p>회원가입을 통해서 회원은 회사의 다양한 서비스를 제공받을 수 있습니다. 이용자의 개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하도록 하겠습니다.</p>

    <h3>개인정보를 수집하는 방법</h3>
    <p>• 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우</p>
    <p>• 거래 과정에서 사용자가 입력하는 이름, 휴대전화번호, 계좌번호, 위치정보</p>
    <p>• 제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우</p>
    <p>• 고객센터를 통한 상담 과정에서 홈페이지, 메일, 팩스, 전화 등</p>
    <p>• 온 오프라인에서 진행되는 이벤트/행사 등 참여</p>

    <h3>수집하는 개인정보</h3>
    <p>회원 가입 시 아래와 같은 개인정보가 수집 됩니다.</p>
    <p>1. 성명, 생년월일, 성별, 내외국인여부, 휴대폰 번호 및 통신사(㈜다날의 본인확인 서비스를 완료한 이용자에 한하여 수집)</p>
    <p>2. 회원 가입 시 패스워드</p>
    <p>3. 이용자 명의의 계좌번호 및 은행명</p>
    <p>4. 이용자 명의의 결제수단(신용카드 등) 및 결제수단의 암호 앞 2자리</p>
    <p>휴대폰 번호는 ㈜다날에서 인증 받은 휴대폰 번호를 사용하고 있습니다.</p>
    <p>서비스 이용 과정에서 아래와 같은 개인정보가 추가 수집 될 수 있습니다.</p>
    <p>1. 계좌 번호</p>
    <p>2. 신분증 사진 (주민등록번호 뒷자리 가린 사진)</p>
    <p>3. 얼굴 정면 사진</p>
    <p>4. 물품 촬영 사진(메타정보 포함)</p>
    <p>5. 위치 정보</p>
    <p>6. 이동 루트 정보</p>
    <p>7. 각 종 운송 정보(주소, 연락처, 운송물품에 관한 정보, 운송수단에 관한 정보, 운송 시간에 관한 정보 등), 계약당사자간 사전 합의 시 공동현관 비밀번호 등 각종 주거지 관련 개인정보)</p>
    <p>8. 신용 카드 정보, 통신사 정보, 상품권 번호 등 결제에 필요한 정보(유료 서비스 이용시)</p>
    서비스 안정성 확보, 안전한 서비스 제공, 법률 및 서비스 이용약관 위반 행위 제한 등의 목적으로 서비스를 이용하는 과정에서 정보가 자동으로 생성 또는 수집 될 수 있습니다.
    <p>1. 서비스 이용 기록, 접속 로그, 거래 기록, IP 정보, 쿠키, 불량 및 부정 이용기록, 모바일 기기정보(모델명, 이동통신사 정보, OS정보, 화면사이즈, 언어 및 국가정보, 디바이스 식별정보 등)
    </p>
    <p>2. 서비스 및 서비스 어플리케이션에 대한 불법/부정 접근 행위 및 관련 기록, 서비스 어플리케이션에 대한 접근 시도 기록, 서비스 및 서비스 어플리케이션의 안전한 동작 환경 확인에 필요한 정보
        또한, 고객 상담을 위해 추가수집되는 개인정보는 아래와 같습니다.</p>
    <p>1. E-mail 계정과 관련된 정보</p>
    <p>2. 개인 유선 연락처 정보</p>
    <p>3. 카카오 계정(카카오 계정 이용자의 경우)</p>

    <h3>개인정보 활용처</h3>
    <p>아래와 같은 활용 목적을 가지고 사용자 개인정보를 수집합니다.</p>
    <p>1. 회원 식별 및 가입의사 확인, 본인 연령 확인, 부정이용 방지, 본인이용여부 확인</p>
    <p>2. 개별적 공지사항 전달 필요시</p>
    <p>3. 서비스 이용과 관련하여 문의사항 또는 분쟁의 해결</p>
    <p>4. 운송 대금 또는 서비스 수수료 정산</p>
    <p>5. 맞춤형 서비스 제공</p>
    <p>6. 각종 이벤트나 광고성 정보의 제공</p>
    <p>7. 신규 서비스 개발, 다양한 서비스 제공</p>
    <p>8. 서비스 이용 기록, 접속 빈도 및 서비스 이용에 대한 통계, 서비스 개선에 활용</p>
    <p>9. 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정 도용 및 부정거래 방지</p>
    <p>10. 물품 운반 수행 이용자와 물품 운반 요청 이용자 연결 서비스 제공 및 정산</p>
    <p>11. 운반하는 물품 사진 확인 서비스 제공</p>
    <p>12. 운반하는 물품 실시간 위치 확인 서비스 제공</p>
    <p>13. 운반하는 회원의 신원이 확인됨을 제공</p>

    <h3>개인정보의 공유 및 제공</h3>
    <p>이용자와 약속한 서비스를 제공하기 위해 다음과 같은 업무를 위탁하고 있습니다.</p>
    <p>이용자에게 다양한 서비스를 제공하는 데에 반드시 필요한 업무 중 일부를 외부 업체로 하여금 수행하도록 개인정보를 위탁하고 있습니다.</p>

    <p>• 수탁업체 : ㈜아임포트, ㈜다날</p>
    <p>• 위탁내용 : 지불 대행 서비스, 이벤트 상금 및 운반 대금 지급 대행 서비스</p>
    <p>• 개인정보의 보유 및 이용기간 : 회원탈퇴 시 혹은 위탁계약 종료시까지</p>

    <p>• 수탁업체 : ㈜다날</p>
    <p>• 위탁내용 : 안심 번호 서비스</p>
    <p>• 개인정보의 보유 및 이용기간 : 회원탈퇴 시 혹은 위탁계약 종료시까지</p>

    <p>• 수탁업체 : Amazon Web Services Inc</p>
    <p>• 위탁내용 : 개인정보가 저장된 국내 클라우드 서버 운영 및 관리, 문자발송</p>
    <p>• 개인정보의 보유 및 이용기간 : 회원탈퇴 시 혹은 위탁계약 종료시까지</p>

    <p>• 수탁업체 : ㈜다날</p>
    <p>• 위탁내용 : 본인 확인 서비스 ( 휴대폰 본인 확인 서비스 )</p>
    <p>• 개인정보의 보유 및 이용기간 : 회원탈퇴 시 혹은 위탁계약 종료시까지</p>

    <p>• 수탁업체 : 비즈톡㈜</p>
    <p>• 위탁내용 : 카카오 알림톡 발송 대행</p>
    <p>• 개인정보의 보유 및 이용기간 : 회원탈퇴 시 혹은 위탁계약 종료시까지</p>

    <h3>이용자에게 법령에 따른 동의를 받은 경우에만 개인정보를 제3자에게 제공하고 있습니다.</h3>
    <p>회사는 원칙적으로 이용자의 개인정보를 제3자에게 제공하지 않으며, 개인정보를 제3자에게 제공해야 하는 경우 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하도록 하고 있습니다. 다만 다음의 경우는
        예외로 하고
        있습니다.</p>
    <p>1. 서비스 제공에 따른 수수료 및 요금 정산을 위해 필요한 경우</p>
    <p>2. 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</p>
    <p>개인 정보를 제 3 자에게 제공하는 경우는 아래와 같습니다.</p>
    <p>• 제공 받은 대상 : 체결된 운송 계약의 관계인(발송인,의뢰인,운송인,수취인)</p>
    <p>• 목적 : 물품 운송 계약 중개 및 운송 계약 이행에 필요한 정보 제공</p>
    <p>• 제공 정보 : 계약 관계인 이름, 연락처, 배송정보(출발지, 도착지), 물품 정보, 이동 루트, 평가 점수, 서비스 이용실적, 사전 합의시 주소지 공동 출입문 암호 등의 주소지 관련 개인정보,
        운송관련 사진 및
        영상</p>
    <p>• 제공받는 자의 개인정보 보유 기간 : 물품 운송 완료 또는 요청 취소 성립 시 까지</p>
    <p>개인정보 보유기간, 파기방법 및 이용기간</p>
    <p>사용자 개인정보는 사용자로부터 동의를 받은 수집 및 이용목적이 달성된 때에는 회사 내부 방침 또는 관계 법령에서 정한 일정한 기간 동안 보관한 다음 파기합니다. 종이에 출력된 개인정보는 분쇄기로
        분쇄하거나 소각을
        통하여 파기하고, 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 회사의 내부 방침 또는 법령에 따라 보관하는 개인정보 및 해당 법령은 아래 표와
        같습니다.
        회사 내부 방침에 의한 정보 보유 사유</p>
    <p>1. 부정 이용 기록</p>
    <p>o 보존 이유 : 부정 이용 방지</p>
    <p>o 보존 기간 : 10년</p>
    <p>2. 게시물 및 거래 내용</p>
    <p>o 보존 이유 : 거래 관련 사기 방지 및 분쟁 해결</p>
    <p>o 보존 기간 : 5년</p>
    <p>관련 법령에 의한 정보보유 사유</p>
    <p>1. 서비스 로그인기록</p>
    <p>o 보존 이유 : 통신비밀보호법</p>
    <p>o 보존 기간 : 3년</p>
    <p>2. 소비자 불만 또는 분쟁처리에 관한 기록</p>
    <p>o 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</p>
    <p>o 보존 기간 : 3년</p>
    <p>3. 계약 또는 청약철회 등에 관한 기록/대금결제 및 재화 등의 공급에 관한 기록</p>
    <p>o 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</p>
    <p>o 보존 기간 : 5년</p>
    <p>4. 표시/광고에 관한 기록</p>
    <p>o 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</p>
    <p>o 보존 기간 : 6개월</p>
    <p>5. 세법이 규정하는 모든 거래에 관한 장부 및 증빙서류</p>
    <p>o 보존 이유 : 국세기본법</p>
    <p>o 보존 기간 : 5년</p>
    <p>6. 전자금융 거래에 관한 기록</p>
    <p>o 보존 이유 : 전자금융거래법</p>
    <p>o 보존 기간 : 5년</p>

    <h3>인터넷 접속정보파일 등 개인정보를 자동으로 수집하는 장치의 설치, 운영 및 그 거부에 관한 사항</h3>
    <p>쿠키란?</p>
    <p>웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 이용자 컴퓨터에 저장됩니다.</p>
    <p>사용목적?</p>
    <p>개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 쿠키를 사용합니다. 이용자가 웹사이트에 방문할 경우 웹 사이트 서버는 이용자의 디바이스에 저장되어 있는 쿠키의 내용을
        읽어
        이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하게 됩니다. 쿠키는 이용자가 웹 사이트를 방문할 때, 웹 사이트 사용을 설정 한대로 접속하고 편리하게 사용할 수 있도록 돕습니다. 또한, 이용자의
        웹사이트 방문
        기록, 이용 형태를 통해서 최적화된 광고 등 맞춤형 정보를 제공하기 위해 활용됩니다.</p>
    <p>쿠키 수집 거부</p>
    <p>쿠키에는 이름, 전화번호 등 개인을 식별하는 정보를 저장하지 않으며, 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나,
        쿠키가 저장될
        때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수도 있습니다. 다만, 쿠키 설치를 거부할 경우 웹 사용이 불편해지며, 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.</p>
    <p>설정 방법의 예</p>
    <p>• Internet Explorer의 경우 웹 브라우저 상단의 도구 메뉴 > 인터넷 옵션 > 개인정보 > 설정</p>
    <p>• Chrome의 경우 웹 브라우저 우측의 설정 메뉴 > 화면 하단의 고급 설정 표시 > 개인정보의 콘텐츠 설정 버튼 > 쿠키</p>

    <h3>사용자 권리 보호</h3>
    <p>사용자(만 14세 미만인 경우 법정 대리인)는 언제든지 사용자 개인정보를 조회하거나 수정할 수 있으며 수집∙이용에 대한 동의 철회 또는 가입 해지를 요청할 수도 있습니다. 보다 구체적으로는 서비스 내
        설정 기능을
        통한 변경, 가입 해지(동의 철회)를 위해서는 서비스 내 "계정탈퇴"를 클릭하면 되며, 운영자에게 이메일이나 별도 게시판으로 문의할 경우도 지체 없이 조치하겠습니다.</p>

    <h3>개인정보 문의처</h3>
    <p>사용자가 서비스를 이용하면서 발생하는 모든 개인정보보호 관련 문의, 불만, 조언이나 기타 사항은 개인정보관리책임자 및 담당부서로 연락해 주시기 바랍니다. 회사는 사용자 목소리에 귀 기울이고 신속하고
        충분한 답변을
        드릴 수 있도록 최선을 다하겠습니다.</p>

    <h3>개인정보관리책임자</h3>
    <p>• 이름 : 변승환</p>
    <p>• 직위 : CEO</p>
    <p>• 부서 : 총괄</p>
    <p>• 대표전화 : 070-8670-0604</p>
    <p>deliverer.ceo@gmail.com</p>

    <h3>고지의 의무</h3>
    <p>주식회사 딜리버러는 법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보 취급방침을 수정할 수 있습니다. 개인정보 취급방침이 변경되는 경우 당사는 변경 사항을 게시하며, 변경된 개인정보
        취급방침은 게시한
        날로부터 7일 후부터 효력이 발생합니다</p>
    <p>• 공고일자 : 2019년 12월 11일</p>
    <p>• 시행일자 : 2020년 1월 1일</p>
</body>

</html>