<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>딜리버러 서비스 이용약관</title>
</head>
<body>
    <h2>‘주식회사 딜리버러(deliverer Inc)’ 서비스 이용약관</h2>
    
    <p>본 이용약관은 이용자가 주식회사 딜리버러(deliverer Inc.)에서 운영 및 제공하는 모바일 어플리케이션 및 온라인·오프라인 플랫폼(이하 ‘딜리버러’)의 서비스 이용에 대한 약관이며, 이용자와 회사 간의 권리,
    의무, 책임 사항, 서비스 이용 조건, 절차 등 기본적인 사항을 규정합니다. 서비스를 이용함으로 이용자는 본 약관과 ‘딜리버러’의 개인정보취급방침, 위치기반서비스 이용약관이 회원과 본 회사를 귀속하는 법적 책임의
    유효함에 대해 동의하는 것으로 간주합니다. 회원의 개인정보 활용에 관한 보다 많은 내용은 회사의 개인정보취급방침을 참고하시기 바랍니다. 회원 및 이용자가 당사의 이용약관 및 개인정보취급방침, 위치기반서비스이용약관에
    동의 하지 않는 경우에는 서비스 이용이 불가능 함을 공지합니다.</p>
    
    <h3>제 1 조 (목적)</h3>
    <p>본 약관은 주식회사 딜리버러(이하 “회사”라 한다)가 제공하는 서비스의 이용과 관련하여 회사와 이용자 간의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.</p>
    
    <h3>제 2 조 (정의)</h3>
    <p>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
    <p>1. “딜리버러 서비스”라 함은 이용자 간의 물품 배송 거래를 중개하고, 의뢰인 및 발송자가 물품 배송을 제공한 운송인에게 지급하여야 할 운송 대금 및 회사의 중개 수수료를 자동 결제할 수 있도록 하는 IT 기술</p>
    기반의 서비스를 말하며, 이와 관련된 각종 부가 서비스를 포함합니다.
    <p>2. “이용자”라 함은 회사가 제공하는 딜리버러 서비스를 이용하기 위해 본 약관에 동의하고 회사에서 설정한 항목을 기재 또는 등록하여 회사의 회원으로 가입하는 자를 말합니다.</p>
    <p>3. “운송인”이라 함은 딜리버러 서비스 이용자로서, 발송 의뢰인의 물품을 대신 운송해주고 운송 대금을 받는 자를 의미합니다.</p>
    <p>4. “발송인”이라 함은 딜리버러 서비스 이용자로서, 물품 운송을 의뢰하며, 운송에 대한 요금 및 회사의 중개수수료를 지급하는 자를 의미합니다.</p>
    <p>5. “물품운송매칭”이라 함은 운송인, 발송인을 회사의 알고리즘에 따라 실시간으로 매칭해주거나, 상호간 운송계약이 체결 될 수 있도록 중개해주는 서비스를 말합니다.</p>
    <p>6. “서비스 이용료”라 함은 물품의 운송료 및 회사의 중개수수료를 포함한다.</p>
    <p>7. “자동결제”라 함은 신용카드 및 여러 결제 수단의 정보의 최초 입력 시점 이후, 서비스 이용 시 부과되는 서비스 이용료가 결제될 때 회사에서 정한 결제 과정을 지불 수단에 대한 이용자의 별도 승인 과정 없이
    이용자의 계정에 등록되어있는 지불수단으로 간편하게 결제되는 것을 말합니다.</p>
    
    <h3>제 3 조 (약관의 효력 및 변경)</h3>
    <p>①본 약관은 딜리버러 서비스를 이용하고자 하는 모든 이용자에 대하여 효력이 발생합니다.</p>
    <p>②회사는 본 약관의 내용을 이용자가 인식 할 수 있도록 모바일 어플리케이션 및 웹 서비스 화면에 게시하거나 기타의 방법으로 이용자에게 공지합니다.</p>
    <p>③회사는 「약관의 규제에 관한 법률」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 (이하 “정보통신망법”) 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다. 약관이 개정된 경우 회사는
    지체 없이 개정약관을 현행 약관과 함께 이메일 또는 제2항과 같은 방법으로 개정약관의 적용일자 7일 전에 공지 또는 통지합니다. 다만, 회원의 권리 또는 의무와 관련하여 중요한 약관 내용의 변경은 개정된 약관을
    적용하고자 하는 날 30일 이전에 공지 또는 통지합니다.</p>
    <p>④회사가 전 항에 따라 회원에게 개정약관을 명확하게 공지 또는 통지하면서 ‘개정약관 적용 일자까지 거부의사를 표시하지 아니할 경우 약관의 변경에 동의한 것으로 간주한다’는 뜻을 명확하게 공지 또는 통지하였음에도
    불구하고, 회원이 명시적으로 거부의 의사표시를 하지 않은 경우 개정약관에 동의한 것으로 간주합니다.</p>
    <p>⑤회원이 개정약관의 적용에 동의하지 않는 경우 회사는 개정약관의 내용을 적용할 수 없으며, 이 경우 회사 또는 회원은 이용계약을 해지할 수 있습니다.</p>
    
    <h4>제 4 조 (약관 외 준칙)</h4>
    <p>①회사는 필요한 경우 이용 정책 및 규칙 등(이하 “세부지침”이라고 합니다)을 정하여 운영할 수 있으며 해당 내용은 모바일 어플리케이션 및 웹, 회원의 이메일을 통해 공지합니다.</p>
    <p>②본 약관에 규정되지 않은 사항에 대해서는 위치정보의 보호 및 이용 등에 관한 법률(이하 “위치정보법”이라고 합니다), 전기통신사업법, 정보통신망 이용촉진 및 보호 등에 관한 법률(이하 “정보통신망법”이라고
    합니다), 개인정보보호법 등 관련법령 또는 회사가 정한 서비스의 운영정책 및 세부지침 규정에 따릅니다.</p>
    <p>② 회원은 항상 이용 정책 및 세부지침 내용에 변경이 있는지 여부를 확인하여야 하며, 회사에게는 위 사안을 확인하지 않아 발생한 이용자의 손해에 대한 배상책임은 없습니다.</p>
    
    <h4>제 5 조 (회원 가입 및 이용 계약의 성립)</h4>
    <p>①딜리버러 서비스를 이용하고자 하는 자는 본 약관 및 별도의 「개인정보 수집 및 이용에 관한 동의」, 「개인정보 제3자 제공에 관한 동의」, 「위치 기반 서비스 이용약관」 에 대한 동의 절차를 완료함으로써 서비스
    이용을 위한 가입신청을 하고 회사는 별도의 기준에 따라 이러한 신청에 대하여 승인함으로써 이용계약이 체결됩니다.</p>
    <p>②회사는 서비스 이용을 희망하는 자의 회원가입 과정에 있어서 회사가 요청한 정보에 대해 개인 정보 도용 금지 원칙을 기본으로 하며, 이를 준수한 것으로 간주하여 자동으로 서비스 이용을 승인 합니다. 다만, 회사는
    다음 각 호에 해당하는 신청에 대하여 승인 거부 또는 철회를 할 수 있습니다.</p>
    <p>1. 본인명의의 결제 가능한 신용카드 및 정상적으로 사용 가능한 계좌를 보유하지 아니한 경우</p>
    <p>2. 회원 가입 신청 시 입력한 정보가 가입자 본인의 정보가 아니거나, 사실관계와 다르거나 정확하지 않은 경우</p>
    <p>3. 서비스 이용에 필수적인 정보 또는 자격이 충분하지 않은 경우</p>
    <p>4. 가입 신청자가 본 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 단 회사의 회원 재가입 승인을 얻은 경우에는 예외로 함.</p>
    <p>5. 회원 가입 신청자의 귀책사유로 인하여 회사의 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우</p>
    <p>③회사는 다음 각 호에 해당하는 경우, 승인을 철회 또는 이용을 제한할 수 있습니다.</p>
    <p>1. 가입 신청 시 등록했던 휴대폰번호, 계좌번호, 결제수단 등의 유효기간이 만료되었거나 취소된 경우</p>
    <p>2. 가입 신청 시 입력 정보가 허위인 경우</p>
    <p>3. 다른 회원으로부터 이용 불편에 대한 신고가 접수되고, 회사의 판단에 의해 서비스 이용에 부적합하다고 결정된 경우</p>
    <p>④제1항에 따른 신청에 있어 회사는 전문기관 및 대행사 등을 통한 회원의 실명확인 및 본인 인증을 요청할 수 있습니다.</p>
    <p>⑤제 3항에 따른 승인 철회 또는 이용을 제한하는 세부적인 기준은 이용정책에서 별도로 고지합니다.</p>
    <p>⑥회사는 정책에 따라 이용자의 가입신청에 대해 승인하지 아니할 수 있으며, 이용실적, 이용자 간의 상호평가점수 등을 반영하여 이용자에 대한 등급을 설정하여 서비스 이용에 차등을 둘 수 있습니다.</p>
    
    <h4>제 6 조 (이용자 가입정보의 변경)</h4>
    <p>①이용자는 회사가 제공하는 특정 페이지를 통해 자신의 개인정보에 대한 조회 및 수정이 가능합니다. 다만, 서비스 유지 및 관리를 위해 회사가 필요하다고 판단한 개인정보는 수정이 불가능 할 수 있으며, 결제수단,
    휴대전화번호 등 서비스 운영을 위해 확인이 필요한 경우에는 회사의 승인이 완료될 때까지 서비스 이용이 제한될 수 있습니다.</p>
    <p>②이용자는 서비스 이용을 위한 가입신청 시 기재했던 정보가 변경되었을 경우 회사가 제공하는 모바일 어플리케이션 또는 웹사이트를 통하여 수정 하거나 회사가 고지한 이메일, 유선, 카카오톡 등의 방법으로 회사에게
    변경사항을 통지하여야 합니다.</p>
    <p>③본 조의 제2항에 해당하는 변경사항을 회사에게 통지하지 않아 발생하는 불이익에 대하여 회사의 배상책임은 없습니다.</p>
    
    <h4>제 7 조 (서비스 내용)</h4>
    <p>① 회사가 제공하는 서비스의 내용은 다음과 같습니다.</p>
    <p>1. 위치기반 서비스 : 이용자의 위치정보를 활용하여 배송 중인 물품 및 운송자의 실시간 위치 정보 제공 서비스입니다.</p>
    <p>2. 물품 운송 중개 서비스 : 발송인 및 의뢰인이 운송인에게 운송 및 물류 서비스를 의뢰할 수 있도록 중개해 주는 서비스입니다. 발송인 및 의뢰인이 운송 및 물류 서비스에 관한 요청을 회사가 제공하는 플랫폼에
    게시하고, 운송인은 의뢰인의 요청을 확인하고 운송여부를 선택할 수 있습니다. 운송인이 의뢰인의 요청을 확인하고 운송을 수락하면, 회사는 운송인과 발송인 또는 의뢰인, 수취인 등에게 해당하는 운송 관련 정보를
    통지하고, 연락처, 프로필, 평가점수, 운송수단 등의 회사가 규정한 정보를 제공합니다.</p>
    <p>② 회사가 제공한 중개 서비스를 통해 물품운송계약이 이루어진 경우, 의뢰인 또는 발송인과 운송인은 제8조에 따라 서비스 제공에 대한 요금 또는 수수료를 지불할 의무를 가집니다.</p>
    <p>③ 회사의 역할은 발송인 또는 의뢰인, 운송인간의 운송계약 중개 서비스 제공에 국한됩니다. 따라서 운송 및 물류 서비스 계약의 계약 당사자는 회사가 아니라 운송 의뢰인과 운송인이 됩니다. 제공된 물류 및 운송 중개
    서비스와 관련하여 계약 당사자 간의 분쟁 발생 시 회사는 배상 책임을 갖지 아니하지만, 별도의 분쟁 대응팀을 구성하여 계약 당사자 간의 분쟁 해결에 적극적으로 협조함을 기본 원칙으로 합니다. 다만, 분쟁과 관련하여
    이용자에게 관련 정보 제출을 요구할 수 있으며 이에 이용자가 응하지 아니한 경우 분쟁에 개입하지 아니합니다.</p>
    
    <h4>제 8 조 (서비스 이용 요금)</h4>
    <p>① 회사가 제공한 서비스를 통해 ‘물품운송계약체결’이 이루어지기 위해서 운송인에게 지급하는 운송 비용은 회사의 기준에 따라 책정되며, 이용자는 회사의 요금체계에 대하여 동의하는 것으로 간주합니다. 의뢰인과 운송인
    상호간 물품 운송 계약이 체결됨과 동시에 회사는 의뢰인 또는 발송인에게 해당 계약에 대한 운송 요금을 회사가 약관에 고지한 자동결제로 선청구합니다.</p>
    <p>② ‘서비스 이용요금’은 발송인 또는 의뢰인의 경우 운송요금 및 서비스 이용수수료로 구성되며, 운송인의 서비스 이용 수수료 및 회사가 규정한 기타 비용으로 구성됩니다.</p>
    <p>③ 회사가 제공하는 중개 서비스에 적용되는 요금 및 수수료는 회사의 모바일 어플리케이션 또는 웹 페이지를 통해 이용자에게 고지합니다.</p>
    <p>④ 회사의 규정에 따라 요금 산정 기준이 변경될 수 있으며, 이에 대해 회사는 이용자에게 e-mail, 카카오톡, 모바일 어플리케이션, 가입시 기재한 이용자의 연락처, 홈페이지 등으로 공지할 의무가 있습니다.</p>
    <p>⑤ 이용자가 본 약관 및 각 조항을 준수하지 않았을 경우, 회사는 본 약관 및 이용 정책에 따라 회사의 손해에 대한 금액 청구 및 각종 수수료 부과 외에 계약을 해지할 수 있는 권리를 가집니다.</p>
    
    <h4>제 9 조 (자동 결제의 이용)</h4>
    <p>① 회사는 회사 및 회원 상호간의 서비스 이용 편의를 위해 계약 체결 시 자동 결제를 원칙으로 합니다.</p>
    <p>② 신용카드 정보를 등록한 이용자는 운송 중개 계약 체결 시 별도의 결제 승인 과정 없이 자동으로 서비스 요금에 대하여 결제하겠다는 의사표시를 한 것으로 간주합니다.</p>
    <p>③ 결제 시점에 이용자가 등록한 신용카드 및 기타 결제수단의 유효성, 한도 문제로 결제가 실패한 경우에는 운송 중개 계약이 체결되지 않거나 미수로 처리되며, 미수에 대한 결제가 정상적으로 이루어지기 전까지 해당
    회원은 서비스 이용이 제한됩니다.</p>
    <p>④ 결제 시점에 시스템 장애로 인하여 결제가 정상적으로 이루어지지 않은 경우에는 시스템 정상화가 된 시점에 결제를 진행합니다.</p>
    <p>⑤ 미수가 발생한 경우 이용 정책에 따라 회사가 직권으로 재결제를 진행합니다. 다만, 미수를 위한 결제 시도 시에는 회원에게 별도로 고지하지 않습니다.</p>
    
    <h4>제 10 조 (적립금)</h4>
    <p>① 적립금은 회사가 제공하는 서비스에서 이용되는 전자 화폐로 현금과 동일한 효력이 부여되며 1적립금은 1원의 가치로 인정됩니다.</p>
    <p>② 적립금의 부여 및 사용에 관한 사항은 회사가 고지한 이용 정책에 따르며, 회사는 모바일 어플리케이션 또는 웹 페이지를 통하여 이를 회원에게 안내합니다.</p>
    <p>③ 적립금은 명시된 사용기간 내에 자유롭게 사용 및 프로필에 인증 및 등록된 이용자 본인 명의의 유효한 계좌로 출금할 수 있으며, 회사는 적립금에 대한 이용자의 출금 요청 직후 요청에 대한 타당성 검토를 거쳐 특수한
    문제가 없다면 7일 이내에 등록된 이용자 명의 계좌로 이체하는 것을 원칙으로 합니다.</p>
    <p>⑤ 회사의 필요에 의해 이용자들의 적립금을 일괄하여 이용자 명의의 계좌로 이체할 수 있으며, 이를 어플리케이션 푸쉬알림, 카카오톡, e-mail, 유선연락 등으로 즉시 통지하는 것을 원칙으로 합니다.</p>
    <p>⑥ 회사는 가입단계에서 이용자가 계좌 인증 및 정보 등록 시 운송 대금 및 기타 환불금액이 인증 및 등록된 계좌로 이체될 수 있음에 이용자가 동의한 것으로 간주하며 이용자는 가입 시 위 사안에 동의하는 것으로
    간주됩니다.</p>
    <p>⑦ 이용자는 프로필 화면 등의 모바일 어플리케이션을 통해 보유 적립금 확인이 가능합니다.</p>
    <p>⑧ 이용자는 타인에게 적립금에 대한 권리를 대여, 양도, 매매 할 수 없습니다.</p>
    <p>⑨ 회사는 필요에 의해 이용자의 적립금 내역을 열람할 수 있으며, 이용자의 제반 실적이 잘못된 경우에는 이를 정정할 수 있으며, 정정 내역은 회사가 수집한 개인정보를 통해 통지됩니다. 또한 이용자가 본 약관 및 이용
    정책 등에 기재된 제반 규정을 위반 또는 악용하거나 부당한 방법으로 적립금을 적립한 경우, 회사는 이용자의 서비스 이용을 정지할 수 있으며, 적립된 적립금을 환수 및 삭제할 수 있으며 이를 해당 이용자에게 통지할
    의무를 가집니다.</p>
    
    <h4>제 11 조 (운반 대금의 지불)</h4>
    <p>회사는 운송 대금 지불을 적립금으로 지급하는 것을 원칙으로 합니다.</p>
    
    <h4>제 12 조 (회사의 의무)</h4>
    <p>① 회사는 위 약관 및 관련법이 금지한 행위 또는 보편적 도덕성에 반하는 행위를 하지 않으며, 안정적인 서비스 제공을 위해 노력할 것입니다.</p>
    <p>② 회사는 본 서비스 제공과 관련하여 수집한 이용자의 개인정보 또는 개인정보 위치정보를 회원의 동의 없이 제3자에게 제공하지 않습니다. 단, 전기통신사업법, 통신비밀 보호법, 정보통신망 이용촉진 및 정보보호 등에
    관한 법률 등 관계 법령에 따라 권한 있는 자가 적법한 절차를 통해 개인정보의 제공을 요청할 경우는 예외로 합니다.</p>
    <p>③ 회사는 서비스 관련 이용자의 불만사항이 제기되면 이를 최대한 신속하게 처리하며, 신속한 처리가 어려울 때에는 그 사유와 처리 일정을 홈페이지나 모바일 어플리케이션 또는 e-mail, 유선, 문자메시지 등으로
    이용자에게 안내합니다.</p>
    <p>④ 회사는 전기통신사업법, 통신비밀보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 위치정보법 관련 법령 등 본 서비스의 운영, 유지와 관련된 법규를 준수하는 것을 원칙으로 합니다.</p>
    
    <h4>제 13 조 (이용자의 의무)</h4>
    <p>① 이용자는 딜리버러 서비스 이용에 필요한 아이디(휴대폰번호), 비밀번호, 결제정보 등을 제 3자에게 유출하지 아니하는 등 이용자 본인의 개인정보를 보호하여야 할 의무가 있습니다.</p>
    <p>③ 이용자는 운송하기 또는 발송하기 서비스 이용에 앞서, 물품배송매칭의 당사가 홈페이지 및 모바일 어플리케이션을 통해 공지한 서비스 이용약관과 서비스 이용에 관한 공지 및 주의사항을 확인해야 합니다.</p>
    <p>④ 이용자는 딜리버러 서비스 이용 시 반드시 본인 명의의 결제수단을 사용하여야 하며, 타인의 결제수단을 임의로 사용해서는 안 됩니다. 타인의 결제수단을 임의로 사용함으로 발생하는 회사, 발송인, 운송인, 결제수단의
    실소유자, 전자결제대행사 등의 손실과 손해에 대한 배상 책임은 이용자에게 있습니다. 단, 법인의 경우 회사가 제공하는 별도의 승인 과정을 통과한 경우 사용 가능합니다.</p>
    <p>⑤ 이용자는 회사가 서비스를 안전하게 제공할 수 있도록 적법한 범위 내에서는 적극적으로 협조하여야 하며, 회사가 이용자의 본 약관 및 이용 정책 위반행위를 발견하여 이용자에게 해당 위반행위에 대하여 소명을 요청 할
    경우 이용자는 회사의 요청에 적극 협조하여야 합니다.</p>
    <p>⑥ 이용자는 분쟁이 발생한 경우 해결을 위하여 중재자 역할을 수행하는 회사의 요청에 성실히 임하여야 하며, 분쟁해결에 대한 이용자의 불성실한 협조로 인하여 회사 또는 타 이용자에게 손해가 발생한 경우 배상책임은 해당
    이용자에게 있습니다.</p>
    <p>⑦ 서비스의 요청과 수락 행위는 반드시 이용자(회원) 본인의 직접 이용을 전제로 합니다.</p>
    <p>⑧ 이용자는 다음 각 호의 행위를 하여서는 안 됩니다.</p>
    <p>1. 서비스 가입 또는 이용자 정보 변경 시 허위내용을 등록하는 행위</p>
    <p>2. 서비스 가입 또는 사용을 위해 타인의 정보를 도용하는 행위</p>
    <p>3. 다른 이용자의 개인정보 및 계정정보를 수집하는 행위</p>
    <p>4. 서비스 요청 또는 수락 시 본인이 아닌 타인이 실제 운송 또는 발송을 하는 행위</p>
    <p>5. 이용자의 계정을 타인이 사용하도록 권한을 부여하거나 양도 또는 이전하는 행위</p>
    <p>6. 소란, 민폐나 불편을 일으키기 위하여 서비스나 앱을 사용하는 행위</p>
    <p>7. 네트워크의 오작동을 유발시킬 수 있는 행위</p>
    <p>8. 회사가 게시한 정보를 권한 없이 변경하는 행위</p>
    <p>9. 회사로부터 서면 허가 없이 앱이나 기타 서비스의 내용 등 회사가 게시한 정보를 복사하거나 배포하는 행위</p>
    <p>10. 회사와 기타 제3자의 저작권 등 지적재산권을 침해하는 행위</p>
    <p>11. 회사 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위</p>
    <p>12. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 서비스에 공개 또는 게시하는 행위</p>
    <p>13. 사용할 권한을 부여 받지 아니한 액세스 지점에서 사용하는 행위</p>
    <p>14. 호환되지 않거나 권한을 부여 받지 않은 장치로 서비스나 앱을 사용하는 행위</p>
    <p>15. 본 약관 및 관련법령, 이용 정책을 위반하여 회사, 타 이용자 또는 제3자에게 손해를 끼치는 행위</p>
    <p>16. 자신의 부당한 이익을 위해 회사의 정책을 이용하여 서비스나 앱을 사용하는 행위</p>
    <p>17. 그 외 어떤 방식으로든 서비스나 앱에 피해를 유발하는 행위</p>
    <p>18. 기타 불법적이거나 부당한 행위</p>
    <p>⑨ 회사는 이용자가 본 조 제8항의 금지행위에 해당한다고 판단될 경우 서비스 이용을 제한할 수 있으며, 이에 대한 모든 책임은 이용자에게 있습니다.</p>
    <p>⑩ 등록자의 역할 수행 시 준수해야 하는 구체적인 의무는 제 14 조에 따릅니다.</p>
    <p>⑪ 운반자의 역할 수행 시 준수해야 하는 구체적인 의무는 제 15 조에 따릅니다.</p>
    <p>⑫ 회사는 필요에 의해 이용자에게 해당 사유를 고지하고, 본인확인을 요청할 수 있으며, 이용자는 이를 위해 합법적 범위 내에서 본인확인 수단을 회사에 제공하여야 합니다.</p>
    
    <h4>제 14 조 (물품 운송 요청)</h4>
    <p>발송인 또는 의뢰인이 물품 운송 요청을 할 경우에는 다음 각 호의 행위를 준수하여야 하여야 하며, 동의 불가 및 미 준수 시 서비스 이용이 불가능합니다.</p>
    <p>1. 발송인 또는 의뢰인이 물품 운반 요청을 하기 위해서는 이용자 본인 명의의 결제수단 및 카드 정보를 미리 등록해 놓아야 하며, 서비스 이용을 위해 회사가 요청하는 정보에 대해 성실히 입력할 의무가 있습니다.</p>
    <p>2. 이용자 가입 시 입력한 정보와 일치하는 회원 본인만 이용이 가능합니다.</p>
    <p>3. 발송인 또는 의뢰인이 입력하는 ‘보내는 사람’ 정보 및 ‘받는 사람’ 정보에 속한 개인정보의 이용과 매칭된 운송계약 체결당사자인 운송인에게 공유되며, 회사는 발송인 또는 의뢰인이 해당 정보공개에 동의하는 것으로
    간주합니다. 따라서, 당사의 명확한 귀책사유가 없는 한, 해당 정보와 관련하여 배상책임을 갖지 아니합니다.</p>
    <p>4. 물품 픽업위치, 운송위치, 보내는 사람 정보, 받는 사람 정보, 물품 정보 등의 회사가 서비스 제공을 위해 요청한 정보를 잘못 입력한 경우 발생하는 불이익에 대한 당사의 배상책임은 성립하지 아니합니다.</p>
    <p>5. 서비스 이용과정에서 운송 물품 사진 등록은 어떠한 물품인지 쉽게 알 수 있도록 정확하게 촬영 및 업로드 하여야 하며, 이용자가 촬영 및 업로드한 운송 물품 사진이 실제 물품과 상이할 시 생기는 불이익에 대한
    책임을 갖습니다.</p>
    <p>6. 회사가 공지한 운송 불가 물품의 운송 요청 시 발생하는 모든 책임은 운송요청자에게 있습니다.</p>
    <p>7. 가액30만원 이상의 물품, 어음, 유가증권, 수표 등의 현금성 자산, 살아있는 생물, 독극물, 총포류, 도검류, 화약류 등의 당사가 지정한 운송 요청 불가 품목에 대하여는 서비스 이용이 불가능하며, 운송규정
    미준수로 인한 책임은 이용자에게 있습니다.</p>
    <p>8. 물품의 일부(전부) 멸실 또는 훼손에 대한 운송인의 책임은 물품 운송이 완료된 날로부터 3일 이내에 그 사실을 회사 또는 운송인에게 통보하지 않으면 소멸됩니다. 또한, 회사는 해당 과정에서 필요하다고 판단한
    자료를 이용자에게 요청할 수 있습니다.</p>
    <p>9. 발송인 또는 의뢰인이 요청한 물품을 운송인 가입회원 스스로 운송하는 것을 기본으로 하며, 운송인은 운송과정에서 사전 협의된 사항과 불일치하는 사항이 발생했을 경우 운송관련 페이지에 기재된 수취인에게 2회 이상
    연락을 취할 의무가 있으며, 연락두절 및 폐문부재시 사전에 합의된 장소 또는 계약서상 주소지 앞 또는 경비실에 전달 후 운송인의 필수이행과정인 ‘운송완료 사진 촬영 및 업로드’를 통해 운송을 종료 할 수 있으며,
    운송요청자는 이에 동의하여야 서비스 이용이 가능합니다.</p>
    
    <h4>제 15 조 (물품 운송 수행)</h4>
    <p>운송인이 물품 운송 역할을 수행 시에는 다음 각 호의 행위를 준수하여야 합니다.</p>
    <p>1. 물품을 운송하는 도중 분실이나 파손, 훼손되었을 경우, 운송인의 부주의로 간주하며 운송인에게 배상책임이 있습니다.</p>
    <p>2. 물품을 운송하는 도중 물품 픽업당시 최초 상태의 포장이 훼손되어 운송인이 임의로 재포장을 한 경우에는 지체없이 등록자에게 그 사실을 알려야 하며, 운송 과정 중 픽업당시 최초상태의 물품을 훼손하지 않는 것을
    원칙으로 합니다.</p>
    <p>3. ‘운송인’으로 서비스 이용 시, 당사의 서비스를 통해 발송인 또는 의뢰인이 운송인의 실시간 위치를 확인할 수 있도록 허용하는 것을 원칙으로 합니다.</p>
    <p>4. ‘운송인’ 및 ‘발송인’은 운송계약서에 명시된 조건(운송시간대, 픽업수단, 기타 요청사항 등)을 모두 준수하는 것을 원칙으로 합니다.</p>
    <p>5. ‘운송인’은 운송요청서 상 명시된 픽업시간을 준수해야 하며, 픽업 시 현장에서 필수적으로 픽업사진촬영 후 업로드를 해야합니다. 또한, 수취인에게 운송물품 전달 또는 합의된 장소에 드롭 등의 운송 완료 시 운송
    완료와 동시에 현장에서 필수적으로 운송완료사진 촬영 후 업로드를 해야 합니다.</p>
    <p>6. 자가용 화물자동차를 이용한 운송은 ‘화물자동차운수사업법’ 위반으로 해당 행위는 불가합니다. 따라서, 회원은 자가용 화물차를 제외한 운송수단으로만 운송이 가능합니다.</p>
    <p>7. 운송인은 운송과정에서 사전 협의된 사항과 불일치하는 사항이 발생했을 경우 운송관련 페이지에 기재된 수취인에게 2회 이상 연락을 취할 의무가 있으며, 연락두절 및 폐문부재시 사전에 합의된 장소 또는 계약서상
    주소지 앞 또는 경비실에 전달 후 운송인의 필수이행과정인 ‘운송완료 사진 촬영 및 업로드’를 통해 운송을 종료 할 수 있으며, 운송요청자는 이에 동의하는 것으로 간주합니다.</p>
    
    <h4>제 16 조 (서비스 이용제한)</h4>
    ① 회사는 다음 각 호에 해당하는 경우 이용자에 대하여 서비스 제공을 제한할 수 있습니다.
    1. 회사와 이용자 간 서비스 제공 관련 약정이 종료되는 경우
    2. 이용자의 본 약관 의무 위반 또는 서비스의 정상적인 운영을 방해한 경우
    3. 이용자의 타인 명의 도용 행위
    4. 불법프로그램의 제공 및 서비스 운영 방해, 정보통신망법을 미준수한 불법 통신 및 해킹, 악성프로그램의 배포, 접속 권한 초과 행위를 하거나 관련 법령을 미준수 하는 경우
    5. 이용자가 계속해서 1년 이상 로그인하지 않는 경우
    6. 이용자가 딜리버러 서비스 이용 약관 기재사항을 위반한 경우
    ② 본 조 제1항에 따라 서비스 이용이 제한되는 경우, 이용자가 보유한 혜택과 권리 등이 소멸되며, 회사는 이에 대하여 별도로 보상하지 아니합니다.
    ③ 본 조에 따라 서비스 이용을 제한하는 경우, 회사는 사전에 이를 이용자에게 합리적인 수단을 통해 통지 할 의무가 있으며, 부득이한 경우 사후 통지 및 공지할 수 있습니다.
    ④ 회사는 다음 각 호에 해당하는 경우에는 이용자에게 서비스 제공을 제한할 수 있습니다.
    1. 천재지변, 전쟁, 폭동, 화재, 파업 등 쟁의행위, 정부기관의 통제, 기타 회사의 합리적인 노력으로 제어할 수 없는 사유가 발생하거나 발생할 우려가 있는 경우
    2. 기간통신사업자로부터 전기통신서비스가 제공되지 않은 경우
    3. 서비스용 설비의 장애 및 정기 점검, 보수점검, 교체 또는 고장, 통신의 두절 등의 사유가 발생한 경우
    4. 서비스가 제3자와의 제휴를 통하여 제공되는 경우에 당해 제휴사업자의 사정에 따라 변경 되거나 중지되는 경우
    5. 기타 서비스의 원활한 운영을 현저히 저해하는 사유가 발생한 경우
    ⑤ 유료 결제와 관련된 모든 사항에서 타인 명의 및 개인정보 도용, 불법적인 결제 실행, 가입된 이용자와 결제수단의 명의자가 상이할 시 회사는 제공을 제한할 수 있습니다.
    
    <h4>제 17 조 (패널티)</h4>
    ① 발송인 또는 의뢰인이 운송인을 알선받기 위해 물품 운송 매칭을 요청하고 운송인이 요청을 수락하여 운송 계약이 체결된 경우, 회사가 정한 시간을 초과하여 계약을 취소하면 회사에서 정한 취소 수수료가 발송인 또는
    운송 의뢰인에게 부과되며, 이용약관에 안내된 자동 결제 시스템에 의해 해당 금액이 자동결제 되며 이에 동의하지 않을 시 서비스 이용이 불가능합니다.
    ② 발송인 또는 의뢰인이 운송물품의 출발지, 도착지, 보내는 사람의 정보, 받는 사람의 정보 등의 요청 정보를 잘못 기입한 경우, 운송인이 잘못 기입한 정보에 기반하여 운송을 시작한 경우 발송인 또는 의뢰인은
    회사에서 정한 패널티 수수료를 납부하여야 하고, 이는 회사가 제공하는 자동결제 시스템에 의해 자동으로 징수되며 이에 동의하지 않을 시 서비스 이용이 불가능합니다.
    ④ 운송인이 운송 요청서에 기재된 물품 픽업 시간 또는 물품 운송완료 시간 범위를 미준수한 경우, 물품 훼손한 경우, 회사가 책정한 기준에 따라 해당 수수료가 운반 대금에서 차감될 수 있습니다.
    ⑤ 운송인의 물품 운송 소요시간이 회사가 설정한 지연 범위를 초과한 경우, 운송 대금은 지급되지 않으며 회사에서 정한 지연 수수료가 부과되고 이는 회사가 제공하는 자동 결제 시스템에 의해 자동결제 됩니다.
    
    <h4>제 18 조 (손해배상)</h4>
    본 약관 및 관련 법률을 위배하여 회사에 손해를 끼친 이용자는 배상책임을 갖으며, 회사는 손해배상을 청구할 수 있습니다.
    
    <h4>제 19 조 (책임 제한)</h4>
    <p>① 회사는 천재지변 또는 이에 준하는 불가항력 및 회사의 귀책사유가 아닌 사유로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 배상책임을 갖지 아니합니다.</p>
    <p>② 회사는 이용자의 귀책사유로 인한 서비스 이용의 장애 및 손해에 대하여 배상책임을 갖지 아니합니다.</p>
    <p>③ 이용자는 이용자에게 적용되는 법규를 준수할 의무가 있고 회사는 개별 이용자의 법규 준수 여부를 보증하거나 책임을 대리하지 않습니다. 이용자가 법규를 위반함으로 발생하는 모든 법적 책임은 이용자 본인에게 있습니다.</p>
    <p>④ 회사의 역할은 이용자간 또는 이용자와 제휴사 간 중개자로서의 역할로 국한되며, 이용자가 본 서비스를 이용하는 과정에서 발생한 이용자 및 제 3자간의 분쟁을 포함, 교통사고로 인한 각종 피해, 도난, 폭행 등의
    범죄 행위 또는 피해에 대하여 회사의 명확한 과실이 입증되지 아니하다면 책임을 갖지 아니합니다.</p>
    <p>⑤ 회사가 제공하는 실시간 위치 추적 기능은 GPS 또는 기타 위치추적 소프트웨어나 기술을 활용하여 위치 정보이며 오차범위가 존재합니다. 이용자는 실시간 위치 조회 기능에 결점이 있을 수 있고, 제공되는 정보가
    부정확할 수 있다는 점을 인지하고 서비스를 이용하여야 합니다. 따라서 위치 정보가 부정확할 경우, 회사는 이와 관련한 책임을 갖지 아니합니다.</p>
    <p>⑥ 당사의 서비스 이용과정에서 발생하는 개인적인 손해, 제 3 자가 불법적으로 회사의 서버에 접속하거나 서버를 이용함으로써 발생하는 손해, 제 3 자가 회사의 서버에 대한 전송 또는 회사의 서버로부터의 전송을
    방해함으로써 발생하는 손해, 제 3 자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해, 전송된 데이터의 생략, 누락, 파괴 등으로 발생한 손해, 명예훼손 등 제 3 자가 회사의 서비스를 이용하는 과정에서
    사용자에게 발생시킨 손해에 대하여 책임을 갖지 아니합니다. 또한 회사는 법률 상 허용되는 범위 내에서 간접 손해, 특별 손해, 결과적 손해, 징계적 손해, 및 징벌적 손해에 대한 책임을 부담하지 않습니다.</p>
    
    <h4>제 20 조 (이용자 및 회원에 대한 통지)</h4>
    <p>① 이용자 및 회원에 대한 통지를 하는 경우 회사는 이용자가 제공한e-mail 및 SMS, 유선을 통해 하는 것을 원칙으로 합니다.</p>
    <p>② 회사는 불특정 다수 이용자에 대한 통지의 경우, 모바일 어플리케이션 공지사항 또는 홈페이지 공지사항 게시판, 팝업 등을 활용하여 개별 통지를 대체할 수 있습니다.</p>
    <p>③ 회사가 상기와 같이 정상적으로 통지하였음에도, 이용자가 통지된 내용을 확인하지 않음으로써 발생한 불이익에 대하여 회사는 책임을 갖지 아니합니다.</p>
    
    <h4>제 21 조 (정보의 제공 및 광고의 게재)</h4>
    <p>① 회사는 서비스 이용을 위해 이용자에게 반드시 필요하다고 판단되는 정보를 서비스 내 공지사항 또는 서비스 화면, SMS, e-mail, 유선 등의 방법으로 회원에게 제공할 수 있습니다.</p>
    <p>② 회사는 서비스의 운영과 관련하여 서비스 화면 등에 광고를 게재할 수 있습니다.</p>
    
    <h4>제 22 조 (저작권의 귀속 및 이용제한)</h4>
    <p>① 회사가 작성한 저작물에 대한 저작권 기타 지적재산권은 회사에 귀속합니다.</p>
    <p>② 회원은 서비스를 이용함으로써 얻은 정보를 회사의 허가 없이 복제, 송신, 출판, 배포, 방송하여 영리 목적으로 이용하거나 제3자에게 제공 할 수 없습니다.</p>
    
    <h4>제 23 조 (게시물의 저작권 보호)</h4>
    <p>① 이용자가 서비스 이용 과정에서 게시한 게시물의 저작권은 해당 게시물의 저작자에게 귀속됩니다.</p>
    <p>② 게시물은 검색결과 내지 회사의 서비스 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다. 이 경우, 회사는 저작권법 규정을
    준수하며, 이용자는 고객센터 및 각 서비스 내 관리기능을 통해 해당 게시물 등에 대해 삭제, 검색결과 제외, 비공개 등의 조치를 요구할 수 있습니다.</p>
    <p>③ 회사는 제2항 이외의 방법으로 이용자의 게시물을 이용하고자 하는 경우에는 유선, e-mail, SMS 등을 통해 사전 동의를 얻는 것을 원칙으로 합니다.</p>
    
    
    <h4>제 24 조 (게시물의 관리)</h4>
    <p>① 이용자의 게시물이 정보통신망법 및 저작권법 등 관련법령에 위반되는 내용을 포함하는 경우, 회사 또는 권리자는 관련법령과 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있습니다.</p>
    <p>② 회사는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법령에 위반되는 경우에는 관련법령에 따라 해당 게시물에 대해 임시조치 (삭제, 노출제한, 게시중단)
    등을 취할 수 있습니다.</p>
    
    <h4>제 25 조 (회원탈퇴 및 자격상실)</h4>
    <p>① 이용자는 고객센터, e-mail 등 보편적인 방법으로 이용자 탈퇴를 요청할 수 있으며, 회사는 이용자의 요청에 따라 신속히 제반 절차를 수행합니다. 단, 이용자에게 미수가 있을 경우에는 미수에 대한 결제를 완료한
    이후에 이용계약 해지 및 탈퇴 신청이 가능합니다. 또한, 거래 사기 등의 부정이용 방지를 위해 거래를 진행 중이거나 거래 관련 분쟁이 발생한 회원은 이용계약 해지 및 탈퇴가 특정 기간 동안 제한될 수 있습니다.
    이용계약이 해지되면 법령 및 개인정보 취급방침에 따라 이용자 정보를 보유하는 경우를 제외하고는 이용자 정보나 사용자가 작성한 게시물 등 모든 데이터는 삭제됩니다. 다만, 이용자가 작성한 게시물이 제 3 자에 의하여
    스크랩 또는 다른 공유 기능으로 게시되거나, 제 3 자의 게시물에 댓글, 채팅 등 게시물을 추가하는 등의 경우에는 다른 이용자이 정상적 서비스 이용을 위하여 필요한 범위 내에서 회사의 서비스 내에 삭제되지 않고
    보존될 수 있습니다.</p>
    <p>② 이용자가 다음 각 호의 행동에 해당하는 경우, 회사는 회원자격을 제한할 수 있습니다.</p>
    <p>1. 가입 신청 시 요청 정보란에 허위 내용 기재</p>
    <p>2. 본 약관 및 관계법령에 위반되거나 공서양속에 반하는 행위를 하는 등 회원자격을 유지시키는 것이 부적절하다고 판단되는 경우</p>
    <p>③ 이용자는 제2항에 따른 서비스 이용정지, 기타 서비스 이용과 관련된 이용제한에 대해 회사가 설정한 절차에 따라 이의신청을 할 수 있으며, 회사는 이용자의 이의신청이 정당하다고 판단되는 경우 서비스 이용 제한을
    해제합니다.</p>
    <p>④ 가입자가 사망한 경우 가입자의 사망과 동시에 회원자격이 상실되며, 제3자가 사망자의 회원자격을 도용하여 행한 모든 행위는 무효로 간주됩니다.</p>
    <p>⑤ 회사는 이용자의 약관 미준수 시 경우 회원자격을 제한할 수 있습니다.</p>
    
    <h4>제 26 조 (서비스 중단)</h4>
    <p>회사는 장비의 유지, 보수를 위한 정기 또는 임시 점검 또는 다른 상당한 이유로 서비스의 제공을 일시 중단할 수 있으며, 해당 사유 발생 시 보편적 수단을 통하여 이용자에게 공지하는 것을 원칙으로 합니다.</p>
    
    <h4>제 27 조 (서비스 종료)</h4>
    <p>① 회사의 서비스 종료 결정 시, 서비스를 종료하고자 하는 날로부터 15일 이 전에 본 약관 제3조 제2항에서 정한 방법으로 이용자에게 공지하는 것을 원칙으로 합니다.</p>
    <p>② 본 조 제1항에 따라 서비스가 종료되는 경우, 회사는 관계법령에 따라 이용자로부터 제공받은 개인 정보를 안전한 방법으로 조속히 파기하는 것을 원칙으로 합니다.</p>
    
    <h4>제 28 조 (사용자 의견)</h4>
    <p>이용자는 회사가 제공하는 다양한 커뮤니케이션 채널을 통하여 의견 제시를 할 수 있으며, 회사는 신속히 검토 후 답변하는 것을 원칙으로 합니다.</p>
    
    <h4>제 29 조 (환불 약관)</h4>
    <p>다음의 각 호에 따라 환불이 가능하며, 소요시간은 환불 요청 시점 기준 7일 이내로, 최초 결제수단을 통한 환불을 원칙으로 합니다.</p>
    <p>① 운송계약 체결 후 10분이 경과하지 아니하였고, 환불을 요청한 경우</p>
    <p>② 운송계약 당사자 간 합의에 의해 상호 동의 후 환불을 요청하는 경우</p>
    <p>③ 천재지변으로 인해 운송계약 이행이 불가능한 경우</p>
    <p>④ 그 외 회사의 판단에 의해 운송계약 이행 불가 판정된 경우</p>
    <p>⑤ 운송계약 환불에 대한 귀책사유에 따라 ‘제 30조’에 고지된 회사가 설정한 패널티 수수료를 제외한 금액이 환불 될 수 있습니다.</p>
    
    <h4>제 30 조 (패널티 수수료)</h4>
    <p>운송계약 취소 또는 환불에 관한 귀책사유에 따라 회사는 이용자에게 아래와 같이 패널티 수수료를 부과할 수 있습니다.</p>
    <p>①운송계약 체결 후 10분 이상이 경과된 이후 운송요청인이 운송계약 취소를 원하는 경우, 회사는 발송인(운송요청인)에게 결제된 운송대금의 50%의 패널티 수수료를 부과할 수 있습니다.</p>
    <p>②운송계약 체결 후, 운송요청인의 사정에 의해 픽업장소 또는 수취 장소가 변경되는 경우 회사는 발송인(운송요청인)에게 해당 운송계약의 운송 대금의 30%에 해당하는 추가요금을 부과할 수 있습니다.</p>
    
    <h4>부칙</h4>
    <h4>제 1 조 (시행일) 본 약관은 2020년 01월 01일부터 시행합니다.</h4>
</body>
</html>